<launch>
    <!--  XBee Nodes-->
    <node pkg="xbee_localization" type="communication_node.py" name="xbee_communication" args="/dev/ttyUSB0 9600" output="screen"/>
    <node pkg="xbee_localization" type="localization_node.py" name="beacon_2" args='beacon_2 0 2' output="screen"/>
    <node pkg="xbee_localization" type="localization_node.py" name="beacon_1" args='beacon_1 0 1' output="screen"/>
    <!-- Fetch Nodes -->
    <!-- <include file="$(find fetch_gazebo)/launch/playground.launch"/> -->
    <include file="$(find fetch_gazebo)/launch/simulation.launch"/>
    <include file="$(find fetch_moveit_config)/launch/move_group.launch"/>
    <include file="$(find fetch_gazebo_demo)/launch/fetch_nav.launch"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
    <!-- Location of the beacons -->
    <node pkg="tf" type="static_transform_publisher" name="beacon_1_tf" args="5 0 0 0 0 0 /map /beacon_1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="beacon_2_tf" args="5 5 0 0 0 0 /map /beacon_2 100"/>
    <!-- Location of the WiFi Beacon -->
    <node pkg="tf" type="static_transform_publisher" name="wifi_tf" args="5 -5 0 0 0 0 /map /wifi 100"/>

    <!-- WiFi Observations -->
    <node pkg="wifi_lookup" type="wifi_data.py" name="wifi_data" output="screen"/>
    <node pkg="wireless_watcher" type="watcher_node" name="watcher_node" output="screen"/>
</launch>
